.v-treeview-node__root {
  min-height: 30px !important;
  height: 30px !important;
}

.v-treeview-node__level {
  width: 16px !important;
}

.v-treeview-node__toggle {
  margin-left: -4px !important;
  margin-right: -4px !important;
}

.prop-button {
  margin: 0 !important;
  padding: 0 4px !important;
  min-width: 0 !important;
}
